

<header>
    <div class="container_e">
        <a href="/"><h1>E-commerce Shop</h1></a>  
          <div class="list">
            <ul>
              <a href="/books"><li>Books</li></a>
              <a href="/authors"><li>Authors</li></a>
              <a href="/products"><li>Products</li></a>
              <a href=""><li>Clothes</li></a>
            </ul>
          </div>
        </div>
        <div class="interface">
          <ul>
            <li>Orders</li>
            <li>Sign In</li>
          </ul>
        </div> 
        
</header>

<router-outlet></router-outlet>